<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
    <img src="{{ "/assets/img/SquaresLogo_3color_no_text_small.png" | prepend:
                                                                   site.baseurl
    }}" class="navbar-logo" width="30" height="30">
    squaresLab
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if page.title == "Projects" %}
      <li class="nav-item active">
        {% else %}
      <li class="nav-item">
        {% endif %}
        <a class="nav-link" href="{{"/projects/" | prepend: site.baseurl }}">
          Projects
        </a>
      </li>
      {% if page.title == "Publications" %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{{"/publications/" | prepend: site.baseurl }}">
          Publications
        </a>
      </li>
    </ul>
  </div>
</nav>
