<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{{ "/assets/img/SquaresLogo_3color_no_text_small.png" | prepend:
                                                                 site.baseurl }}" class="navbar-logo">
  <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">squaresLab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ "/" | prepend: site.baseurl }}">
          Home
        </a>
      </li>
      <li class="nav-item" >
        {% if page.title == "Projects" %}
        <a class="nav-link disabled" href="">
        {% else %}
        <a class="nav-link" href="{{"/projects/" | prepend: site.baseurl }}">
        {% endif %}
        Projects
        </a>
      </li>
      <li class="nav-item" >
        {% if page.title == "Publications" %}
        <a class="nav-link disabled" href="">
        {% else %}
        <a class="nav-link" href="{{"/publications/" | prepend: site.baseurl }}">
        {% endif %}
        Publications
        </a>
      </li>
    </ul>
  </div>
</nav>
